:root {
    --space: 20px;
    --height: 100vh;
    --primary: black;
    --secandory: white;
    --box: 20vw;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secandory);
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
}

/* Nabar */
header {
    padding: var(--space);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: var(--space);
}

/* Main */
main {
    height: 85vh;
    display: grid;
    align-items: end;
    justify-items: center;
}



main h1 {
    font-size: 7vw;
    text-align: center;
    padding: 0 20px;
}

#string {
    width: 100%;
    height: 150px;
    display: flex;
    /* background-color: red; */
}


/* Parent Container */
.container {
    margin: var(--space);
    padding: var(--space);
    overflow-x: hidden;
}

.white-container {
    background-color: var(--secandory);
    height: var(--height);
    margin: 0px;
    padding: 0px;
}



.black-container {
    background-color: var(--primary);
    height: var(--height);
}

.white-box {
    background-color: var(--secandory);
}

.black-text {
    color: var(--primary) !important;
}

/*  */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    padding-top: 38vh;
    text-align: center;
}

.y-hidden {
    overflow: hidden;
}

.box {
    width: var(--box);
    height: var(--box);
    margin: var(--space);
    background-color: var(--secandory);
}

.five h2 {
    font-size: 40vw;
    text-transform: uppercase;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: x-large;
}

.sh {
    height: 100vh;
}

.seven h2 {
    overflow: hidden;
}

.seven h2 span {
    display: inline-block;
    text-transform: uppercase;
}

#cursor {
    width: 8px;
    height: 8px;
    background-color: var(--secandory);
    border-radius: 50%;
    border: 1px solid var(--primary);
    position: fixed;
    z-index: 100;
    font-size: 2px !important;
    color: var(--primary);
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1;
}


.six {
    height: 100vh;
    background-color: var(--secandory);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.six .img-container1 {
    width: 60vw;
    height: 80vh;
    position: relative;
}

.six .img-container1 .overlay {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 2;
}

.six .img-container1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  */
@media (max-width: 600px) {
    main {
        height: 100vh;
    }

    .m-none {
        display: none !important;
    }
}